body {
  font-family: system-ui, sans-serif;
  background: #f6f7fb;
  padding: 40px;
}

h1 {
  text-align: center;
}

table {
  margin: auto;
  width: 600px;
  background: white;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  padding: 14px;
  text-align: center;
}

thead {
  background: #4f46e5;
  color: white;
}

tbody tr:nth-child(even) {
  background: #f3f4f6;

}
.form {
  text-align: center;
  margin-bottom: 20px;
}

.form input {
  padding: 8px 10px;
  margin: 0 4px;
  width: 120px;
}

.form button {
  padding: 8px 16px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
